
@media (max-width:768px){
    header{
        height: 7rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        nav{
            flex-direction: column;
            #toggle{
                    &:checked ~ .menu{
                    height:auto;}
            }
            label{
                display: flex;
                justify-content: center;
                color: rgba(77, 52, 102, 1);
                cursor: pointer;
                background: linear-gradient(180deg, #D19696 8.85%, #929292 100%);
                border-radius: 542.4px;
                width: 100%;
            }
            .menu{
                margin-top: 160px;
                position: absolute;
                height: 0;
                overflow: hidden;
                .navBar{
                    flex-direction: column;
                    align-items: center;
                    padding: 0.5rem 0rem;
                    border-radius: 40px 40px 452px 452px;
                    background: rgba(196, 210, 229, 0.67);
                    height: 12.5rem;
                }
            }
        }
    }
    .mainIndex{
        .bannerIndex {
            h1,h2{
                display: none;
                }
        }
        .productosDestacados {
            h2 {
                font-size: 1.5rem;
                font-weight: 700;
            }
            ul{
                @include mediaFlex;
            }
        }
        .ofertas {
            ul{
                @include mediaFlex;
                li {
                    a {
                    img{width: 15rem;}
                    }
                }
            } 
        }
    }
    .indexSection {
        img{
            height: 3rem; 
        }
    }
    .mainNosotros{
        .bannerNosotros {
            h1{
                font-size: 2rem;
                width: 25rem;
                padding: 1.25rem;
            }
        }
        .sobreNosotros{
            margin: 0 5em;
            h2{
                font-size: 2rem;
            }
            p{
            font-size: .75rem;
            }
        }
    }
    .contacto{
        .mainContact{
            grid-template-columns: 100%;
            gap: 1.25rem;
        }
    }
    footer{
        @include mediaFlex;
        div{
            @include mediaFlex;
            img{
                height: 4rem;
            }
            ul li{
                padding: .625rem;
                img{
                    height: 3rem;
                }
            }
        }
    }
    .mainProduct{
        .producto{
            grid-template-columns: 2fr 2fr;
            margin-top: 10rem;
            gap:20px;
            section{
                img {
                    width:15em;
                }
                h2{
                    font-size: 1rem;
                }
                p{
                    font-size: 0.75rem;
                }
            }
        }
    }
    
}
