.contacto{
    width:100%;
    .mainContact{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 1.25rem;
        .contactDatos{
            @include flex(column,nowrap,center,center,10px);
            padding: 1em;
            img{
                width: 18.75rem;
            }
        }
        .formulario{
            @extend .contactDatos;
            section{
                article{
                    form{
                        div{
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            .btn{
                                background: linear-gradient(180deg, #D19696 8.85%, #929292 100%);
                                border-radius: 542.4px;
                                padding: 0.5rem;
                            }
                        }
                    }
                }
            }
            
        }
    }
}