.contacto{
    width:100%;
    .mainContact{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 1.25rem;
        .contactDatos{
            @include flex(column,nowrap,center,center,10px);
            padding: 1em;
            p{
                text-align: center;
            }
            img{
                width: 18.75rem;
            }
        }
        .formulario{
            @extend .contactDatos;
            section{
                article{
                    form{
                        input{
                            border-radius: 15px;
                            height: 1.8rem;
                            width:19rem;
                            &::placeholder{
                                text-align: center;
                                color: black;
                                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                            }
                        }
                        textarea{
                            @extend input;
                            height: 18rem;
                            width: 19rem;
                            resize: none;
                            &::placeholder{
                                text-align: center;
                                color: black;
                                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                            }
                        }
                        div{
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            .btn{
                                background: linear-gradient(180deg, #D19696 8.85%, #929292 100%);
                                border-radius: 542.4px;
                                text-align: center;
                                height: 1.6rem;
                                width:6rem;
                            }
                        }
                    }
                }
            }
            
        }
    }
}