.indexSection{
    background: linear-gradient(180deg, #D19696 8.85%, #929292 100%);
    border-radius: 542.4px;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img{
        height: 6rem;
    }
}
